@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --Dark-Blue: hsl(209, 23%, 22%); /*Dark Mode Elements*/
  --Very-Dark-Blue-Background: hsl(207, 26%, 17%); /*Dark Mode Background*/
  --Very-Dark-Blue: hsl(200, 15%, 8%); /*Light Mode Text*/
  --Dark-Gray: hsl(0, 0%, 52%); /*Light Mode Input*/
  --Very-Light-Gray: hsl(0, 0%, 98%); /*Light Mode Background*/
  --White: hsl(0, 0%, 100%); /*Dark Mode Text & Light Mode Elements*/
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300; /* Weights: 300, 600, 800 */
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}
